* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(180deg, $color-primary 0%, $color-secondary 100%);
  font-size: 12px;
}

.card{
  min-height: 100%;
  background-color: white;
  margin: 130px 260px;
  padding: 65px 95px;
}