$color-primary : #B068E9;
$color-secondary: #6463E7;

//color HSL

$color-primary-hsl : hsl(273, 75%, 66%);
$color-secondary-hsl: hsl(240, 73%, 65%);

$color-dark-hsl: hsl(237, 12%, 33%);
$color-gray-hsl: hsl(240, 6%, 50%);
$color-dark-blue-hsl :hsl(238, 29%, 16%);
$color-light-gray-blue-hsl : hsl(240, 5%, 91%);
$color-soft-red-hsl: hsl(14, 88%, 65%);