
.card{
  min-height: 100%;
  background-color: white;
  margin: 130px 260px;
  padding: 65px 95px;
  max-height: 509px;
  &__illustration{/*
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: right bottom;*/
    position: relative;
    left: -40%;
    &__bg{
      position: relative;
      left: -100%;
      width: 200%;
    }
    &__woman{
      position: relative;
      width: 100%;
      top: -40%;
    }
    &__box{
      position: relative;
      width: 40%;
      top: -55%;
      left: -5%;
    }
  }
  &__content{

  }
}