
.card {
  background-color: white;
  max-height: 509px;
  border-radius: 23px;

  &__illustration {
    position: relative;
    left: -15%;
    width: 100%;
    background-image: url("../images/bg-pattern-desktop.svg"), url("../images/illustration-woman-online-desktop.svg");
    background-size: cover, contain;
    background-repeat: no-repeat;
    background-position: center center;

    /**/
    /*&__bg{
      position: relative;
      left: -100%;
      width: 200%;
    }
    &__woman{
      position: relative;
      width: 100%;
      top: -40%;
    }*/
    &__box {
      position: relative;
      width: 40%;
      top: 40%;
    }
  }

  &__content {
    padding: 65px 95px;
  }
}