
.card {
  background-repeat: no-repeat;
  background-color: white;
  background-image: url("../images/bg-pattern-desktop.svg");
  background-size: contain;
  border-radius: 23px;
  background-position: center top -350px;

  @media (min-width: 1024px) {
    min-height: 509px;
    min-width: 720px;
    max-width: 920px;
    background-position: left -520px top -250px;
    background-size: cover;
  }

  &__illustration {
    position: relative;
    //background-image: url("../images/bg-pattern-desktop.svg"), url("../images/illustration-woman-online-desktop.svg");
    background-repeat: no-repeat;
    background-image: url("../images/illustration-woman-online-desktop.svg");
    background-size: 50%;
    background-position: center;
    width: 100%;
    min-height: 250px;
    top: -60%;

    @media (min-width: 1024px) {
      background-size: contain;
      background-position: right 0px top 100px;
      left: -15%;
      min-height: 0px;
      top: 0px;
    }

    &__box {
      position: relative;
      width: 20%;
      top: 43%;
      left: 22%;
      @media (min-width: 1024px) {
        width: 40%;
        top: 40%;
      }
    }
  }

  &__content {
    padding: 65px 95px;
    margin-top: -200px;
    @media (min-width: 1024px) {
      padding: 65px 95px;
      margin-top: 0px;
    }
  }
}